flow.json
[
    {
        "id": "14f3f7b.047a008",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7651c676.a76c78",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "2c5eea91.416b16"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 40,
                "wires": [
                    {
                        "id": "2c5eea91.416b16",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "bd5deef7.9ece3",
        "type": "inject",
        "z": "14f3f7b.047a008",
        "name": "my-name",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "575a7de4.03e244"
            ]
        ]
    },
    {
        "id": "575a7de4.03e244",
        "type": "debug",
        "z": "14f3f7b.047a008",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "a8e6c204.0df3d",
        "type": "inject",
        "z": "14f3f7b.047a008",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 320,
        "y": 340,
        "wires": [
            [
                "579d3adf.d784b4"
            ]
        ]
    },
    {
        "id": "579d3adf.d784b4",
        "type": "debug",
        "z": "14f3f7b.047a008",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 602,
        "y": 376,
        "wires": []
    },
    {
        "id": "358b858e.f884ca",
        "type": "http request",
        "z": "14f3f7b.047a008",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 481,
        "y": 234,
        "wires": [
            []
        ]
    },
    {
        "id": "2c5eea91.416b16",
        "type": "function",
        "z": "7651c676.a76c78",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "bfcfacf5.c8c4a",
        "type": "subflow:7651c676.a76c78",
        "z": "14f3f7b.047a008",
        "name": "",
        "x": 450,
        "y": 140,
        "wires": [
            []
        ]
    }
]